<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="item">
            <h2><span jhiTranslate="inventoryApp.item.detail.title">Item</span> {{ item.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="inventoryApp.item.itemName">Item Name</span></dt>
                <dd>
                    <span>{{ item.itemName }}</span>
                </dd>
                <dt><span jhiTranslate="inventoryApp.item.image">Image</span></dt>
                <dd>
                    <div *ngIf="item.image">
                        <a (click)="openFile(item?.imageContentType!, item?.image)">
                            <img [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-width: 100%;" alt="item image"/>
                        </a>
                        {{ item.imageContentType }}, {{ byteSize(item.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="inventoryApp.item.tag">Tag</span></dt>
                <dd>
                    <span>{{ item.tag }}</span>
                </dd>
                <dt><span jhiTranslate="inventoryApp.item.qrCode">Qr Code</span></dt>
                <dd>
                    <div *ngIf="item.qrCode">
                        <a (click)="openFile(item?.qrCodeContentType!, item?.qrCode)" jhiTranslate="entity.action.open">open</a>
                        {{ item.qrCodeContentType }}, {{ byteSize(item.qrCode) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="inventoryApp.item.barCode">Bar Code</span></dt>
                <dd>
                    <div *ngIf="item.barCode">
                        <a (click)="openFile(item?.barCodeContentType!, item?.barCode)" jhiTranslate="entity.action.open">open</a>
                        {{ item.barCodeContentType }}, {{ byteSize(item.barCode) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="inventoryApp.item.location">Location</span></dt>
                <dd>
                    <div *ngIf="item.locationId">
                        <a [routerLink]="['/location', item.locationId, 'view']">{{ item.locationId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item', item.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>



    </div>

    <div class="qr-scan-area">
        <!-- This is the npm package in-charge of scanning the QR -->
        <zxing-scanner
            #scanner
            [(device)]="currentDevice"
            (scanSuccess)="onCodeResult($event)"
            (permissionResponse)="onHasPermission($event)"
        ></zxing-scanner>
        <div class="qr-area">
            <div class="area"></div>
        </div>
    </div>

    <div>
        <p>{{qrResult}}</p>
    </div>

</div>
